### GLOBAL
/venv
venv/
Untitled*
1.6.1*
1.6.3*
1.7.0*
/MB2_Troops
MB2_Troops/
psql
# 1.7.2*/
# /1.7.2*

### FRONTEND
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### Django
.env
venv/
djangovenv/

*.pyc
*.egg-info/
*.log
*.pot
*.pyc
__pycache__
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
