### GLOBAL
/venv
venv/
Untitled*
1.6.1*
1.6.3*
1.7.0*
/MB2_Troops
MB2_Troops/
# 1.7.2*/
# /1.7.2*

### FRONTEND
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### BACKEND
.env
